<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" crossorigin="anonymous" defer=""></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=67b7c65a-2624-4547-80bf-a2986c7e694e" type="text/javascript"></script>
    <script src="./src/calc.js"></script>
    <script src="./src/formcalc.js"></script>
    <link href="styles/index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/favicon.svg" type="image/svg">
    <link href="styles/lib.css" rel="stylesheet" />
    <link href="https://cdn.digitalbutlers.me/projects/fulfillment/production/main.css" rel="stylesheet">
    <link href="https://cdn.digitalbutlers.me/projects/fulfillment/production/components/swiper-reviews/index.css"
        rel="stylesheet">
    <title>ПВ ЛОГИСТИК - ГРУЗОПЕРЕВОЗКИ</title>
</head>

<body>
    <%- include("./components/loader") %>
    <%- include("./components/menu") %>

    <div id="back"></div>

    <section class="main about__main2">
        <div id="contacts">
            <a href="tel:+79037959539">+7 (903) 795-95-39</a>
            <a href="tel:+79037959524">+7 (903) 795-95-24</a>
        </div>
        <div class="mgg">
            <%- include("./components/header") %>
                <div class="wrapper wrapper__about2">
                    <div class="wrapper__text wrapper__about2__text">
                        <span class="wrapper__title">ГРУЗОПЕРЕВОЗКИ ПО ВСЕЙ РОССИИ</span>
                    </div>
                    <!-- <div class="wrapper__footer2 bordered">
                        <div class="wrapper__text">
                            <span class="wrapper__title">Заполните анкету и получите рассчет стоимости</span>
                        </div>
                        <button onclick="openFullCalc()" style="margin-top: 40px;" class="form_btn bordered">Заполнить анкету</button>
                    </div> -->
                </div>
                
        </div>
    </section>

    <main class="about">
        <div class="mg">
            <div class="about__forwhat">
                <div class="about__forwhat__item item__block dark__back">
                    <span class="item__title">ГРУЗОПЕРЕВОЗКИ ЛЮБОЙ СЛОЖНОСТИ</span>
                    <span>Мы перевезем грузы любых размеров и веса, в том числе крупногабаритные и опасные грузы.</span>
                    <span>У нас есть широкий выбор транспортных средств, включая грузовики
                        различной грузоподъемности, контейнеровозы, автовозы и другие виды транспорта.</span>
                    <span>Мы предлагаем как междугородние, так и международные грузоперевозки.</span>
                </div>
                <div class="about__forwhat__item item__img block__img3"></div>
            </div>
            <div class="about__block2 check">
                <div class="about__block2__item item__block">
                    <span class="item__title">ДОСТАВКА ТОВАРОВ НА ДОМ</span>
                    <span>Мы осуществляем доставку товаров любых категорий на дом.
                        Вы можете заказать доставку по городу или на дальние расстояния.
                        Наша компания предоставляет услуги по доставке товаров как для
                        физических, так и для юридических лиц.</span>
                </div>
                <div class="about__block2__item item__img block__img6"></div>
            </div>
            <div class="about__forwhat forwhat__grid">
                <div class="about__forwhat__item item__img block__img7"></div>
                <div class="about__forwhat__item item__block dark__back">
                    <span class="item__title">ЭКСПРЕСС-ДОСТАВКА</span>
                    <span>Если у вас срочная доставка груза, 
                        то мы предоставим 
                        Вам услугу экспресс-доставки.
                    </span>
                    <span>Мы быстро доставим ваш груз 
                        в любую точку страны в кратчайшие
                        сроки.</span>
                    <span style="margin-top: 20px !important;" class="item__title">УСЛУГИ ПО ПОГРУЗКЕ
                        И ВЫГРУЗКЕ</span>
                    <span>Мы предоставляем услуги по погрузке
                        и выгрузке груза с нашей помощью.</span>
                    <span>Наши профессиональные грузчики
                        быстро и качественно 
                        выполнат работу.</span>
                </div>
            </div>

            <div class="about__text">
                <div class="about__title cens">ДОСТАВЛЯЕМ ГРУЗЫ ПО ВСЕЙ РОССИИ</div>
            </div>
            <div class="map">
                <img src="img/map.png">
                <img src="img/end.svg" class="iconmap" id="end1">
                <img src="img/end.svg" class="iconmap" id="end2">
                <img src="img/end.svg" class="iconmap" id="end3">
                <img src="img/plane.png" class="iconmap" id="object1">
                <img src="img/plane.png" class="iconmap" id="object2">
                <img src="img/plane.png" class="iconmap" id="object3">
            </div>

            <div class="about__text cens text_con">
                <div class="about__title">СТРАХОВАНИЕ ГРУЗОВ
                </div>
            </div>
            <div class="about__forwhat check">
                <div class="about__forwhat__item item__img block__img4"></div>
                <div class="about__forwhat__item item__block">
                    <span class="item__title">МЫ ПРЕДОСТАВЛЯЕМ УСЛУГИ</span>
                    <span>по страхованию грузов, чтобы Ваши грузы были защищены в случае непредвиденных обстоятельств.
                    </span>
                    <span style="margin-top: 20px !important;" class="item__title">НАША КОМПАНИЯ ИМЕЕТ МНОГОЛЕТНИЙ ОПЫТ</span>
                    <span>В грузоперевозках и доставке товаров.</span>
                    <span>Мы гарантируем быстрое и надежное
                        выполнение всех заказов, а также
                        предоставляем ВЫГОДНЫЕ условия
                        для постоянных клиентов.</span>
                </div>
            </div>
            <div class="about__text checkmate dark__back">
                <div class="about__title">СВЯЖИТЕСЬ С НАМИ
                </div>
                <div style="font-size: 24px;" class="about_desc">чтобы заказать наши услуги и получить подробную консультацию по всем вопросам,
                    связанным с грузоперевозками и доставкой товаров. Мы всегда готовы помочь Вам!
                </div>
            </div>
        </div>
    </main>

    <%- include("./components/footer") %>
    <%- include("./components/modal") %>

    <!-- <script src="./src/block.js"></script> -->
    <script defer src="./src/main.js"></script>  
    <script defer src="./src/menu.js"></script>
    <script defer src="./src/modal.js"></script>
</body>

</html>